/********* General **************/
body{
    background-size: cover;
}


/********* Sections **************/
#input_section>*{
    margin: 10px;
    padding: 10px;
}

section{

    height: 150px;
    background-color: aqua;
    position: relative;
    margin: 10px;
    float: left;
    width: 40%;
}

span>*{
    position: relative;
    float: left;
    width: 40%;
}

#table1{
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

